/*Only use this file if you want to override bootstrap or create your own style*/
body{
  background: url(https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-37.gif?w=1536&h=736) center center;
  background-size: cover;
}

.stage{
  display:flex;
  align-items: center;
  justify-content: space-around;
}
.player{
  margin-top: 20px;
  display: flex;
  height: 80px;
}

img.invert {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

h1{
  color: #fff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.dummy-left{
  position: absolute;
  left: 30%;
  height: 300px;
  bottom:5px;
}
.dummy-right{
  position: absolute;
  right: 1%;
  height: 250px;
  bottom: 50px;
  margin-bottom: 35px;
}
.onReset {
  http://www.intriguing.com/mp/_sounds/hg/notdead.wav
  http://www.intriguing.com/mp/_sounds/hg/knight.wav
  http://www.intriguing.com/mp/_sounds/hg/ni.wav
  http://www.intriguing.com/mp/_sounds/hg/bleed.wav
  http://vignette3.wikia.nocookie.net/2007scape/images/4/40/King_Arthur.png/revision/latest?cb=20151013012433
}